@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}


.feature{
    width: 100vw;
    height: 100vh;
    /* border:3px solid violet; */
}
.head{
    margin:3rem auto;
    /* padding-left: 10rem; */
    /* text */
    line-height: 2rem;
    text-align: center;
    letter-spacing: 0.08rem;
    /* word-spacing: 0.8rem; */
     width:max-content;
    /* height: 100%; */
    /* border:1px solid yellow; */
}
.box{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    background-color: #fefefe;
    border: 1px solid #ebebeb;
    border-radius: 1rem;
    width: 45%;
    margin-top:2rem;
    padding-top: 2.5rem;
    padding-left: 1.5rem;
    color: #7c8595;
}
.fet{
    width: 100%;
    /* height: 400px; */
    justify-content: center;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    /* border: 1px solid black; */

}

.text{
    padding: 1.5rem;
}

.text h3{
    color: #071e55;
    letter-spacing: 0.1rem;
    margin-bottom: 0.3rem;
}

.text p{
    color: #7c8595;
    letter-spacing: 0.01rem;
    font-weight: 200;
}

.box:hover{
    border-bottom: 1px solid #1089d4;
}
i{
    /* line-height: 5rem; */
    /* border:1px solid black; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    align-self: center;
    font-size: 2rem;
    margin-top: -2.5rem;
}

.box:hover i{
    transform: scale(1.05);
}

@media (max-width:768px){
    .fet{
        flex-direction: column;
        width: 100%;
    }
    .box{
        width: 100%;
    }
}